.headerTitle{
    font-family: "Avenir Next", "Avenir", Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    font-weight: 600;
}

.horizontal-line {
    width: 100%; 
    height: 1px;
    background-color: gray;
    border: none;
    margin: 20px auto; 
  }
  
  
  .filterText {
    display: flex;
    justify-content: space-between; /* Moves items to opposite ends */
    align-items: center; /* Keeps text vertically aligned */
    width: 100%; /* Ensures full container width */
    font-size: .55em;
    font-family: "Avenir Next", "Avenir", Arial, sans-serif;
  }

  .headerContainer{
    width: 80%;
    margin: 0 auto;
  }

  .filterBy{
    font-weight: 500;
  }

  .clearAll{
    font-weight: normal;
    transition: text-decoration 0.2s ease-in-out; /* Smooth underline effect */
    z-index: 1;
  }

  .clearAll:hover {
    text-decoration: underline; /* Underline on hover */
  }
