.container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap into two columns */
  justify-content: center;
  width: 80%;
  margin: 0 auto; /* Centers horizontally */
  padding: 0;
  gap: 1.25em;
  margin-top: 2em;
  margin-bottom: 5em;
}


.container > * {
  width: 49%; /* Each card takes about half of the container */
}

.dropdowns {
  display: flex;
  justify-content: space-between; /* Ensures first dropdown starts at the left, last at right */
  align-items: center;
  width: 92.5%; 
  margin: 0 auto; /* Centers the container */
}
.no-results-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color: #333333; /* Dark Gray */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
  width: 300px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

  top: auto;
  bottom: 10px; /* Position it slightly above the screen bottom */
  left: 50%;
  transform: translateX(-50%); /* Center horizontally */
  width: 90%; /* Make it responsive */
  max-width: 350px;
}

.no-results-popup p {
  margin: 0;
  font-size: 1.2em;
}

/* Move popup to the bottom for screens below 1000px */
@media (max-width: 1000px) {
  .no-results-popup {
    top: auto;
    bottom: 10px; /* Position it slightly above the screen bottom */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    width: 90%; /* Make it responsive */
    max-width: 350px;
  }

  .container > * {
    width: 100%; 
    
  }
  
}


@media (max-width: 1400px) and (min-width: 1001px) {
  .container > * {
    width: 75%; 
  }
  
}


.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar {
  margin-top: -12.5em;
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid white; /* Transparent background */
  background: transparent;
  color: black;
  outline: none;
}

.search-bar::placeholder {
  color: rgba(0, 0, 0, 0.8)

}


